<div class="calcite-map calcite-map-absolute">
    <div id="tabContainer" class="tab-content">
        <div id="2dTab" class="tab-pane fade in active" role="tabpanel">
            <div id="mapViewDiv"></div>
        </div>
        <div id="3dTab" class="tab-pane fade" role="tabpanel">
            <div id="sceneViewDiv"></div>
        </div>
    </div>
</div>
