<div id="panelInfo" class="panel collapse">
    <div id="headingInfo" class="panel-heading" role="tab">
        <div class="panel-title">
            <a class="panel-toggle" role="button" data-toggle="collapse" href="#collapseInfo" aria-expanded="true" aria-controls="collapseInfo"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="panel-label">Info</span></a>
            <a class="panel-close" role="button" data-toggle="collapse" data-target="#panelInfo"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>
        </div>
    </div>
    <div id="collapseInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingInfo">
        <div class="panel-body">
            <p><span class="esri-icon esri-icon-map-pin pull-left"></span><span class="info-title">Calcite Maps</span></p>
            <p>Use this application to quickly prototype and design map applications interactively.</p>
            <p>Learn more about building custom<a href="https://github.com/esri/calcite-maps"> Calcite Maps apps here</a>.</p>
        </div>
    </div>
</div>
