<div id="panelLegend" class="panel collapse">
    <div id="headingLegend" class="panel-heading" role="tab">
        <div class="panel-title">
            <a class="panel-toggle collapsed" role="button" data-toggle="collapse" href="#collapseLegend" aria-expanded="false" aria-controls="collapseLegend"><span class="glyphicon glyphicon-list" aria-hidden="true"></span><span class="panel-label">Legend</span></a>
            <a class="panel-close" role="button" data-toggle="collapse" data-target="#panelLegend"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>
        </div>
    </div>
    <div id="collapseLegend" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingLegend">
        <div class="panel-body">
            <div id="legendDiv"></div>
        </div>
    </div>
</div>

