<div class="modal fade" id="modalSplash" tabindex="-1" role="dialog" aria-labelledby="splashlModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="splash-body">
                            <div class="text-center">
                                <h3>Welcome to Calcite Maps</h3>
                                <hr>
                                <p>Use this application to interactively design your application and to explore the different colors, styles and layouts. When you are done, apply the CSS styles and classes to your own apps. Get a jump-start by starting with one of the <a href="../index.html">sample applications</a>.</p>
                                <br>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Get started</button>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
