<div id="panelOverViewMap" class="panel collapse">
    <div id="headingOverViewMap" class="panel-heading" role="tab">
        <div class="panel-title">
            <a class="panel-toggle collapsed" role="button" data-toggle="collapse" href="#collapseOverviewMap" aria-expanded="false" aria-controls="collapseBookmarks"><span class="glyphicon glyphicon-book" aria-hidden="true"></span><span class="panel-label">Overview Map</span></a>
            <a class="panel-close" role="button" data-toggle="collapse" data-target="#panelOverViewMap"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>
        </div>
    </div>
    <div id="collapseOverviewMap" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOverViewMap">
        <div class="panel-body overViewMap" style="width:500px;height:500px" id="overViewMap">
                  
        </div>
    </div>
</div>
<script>


</script>