
<div id="panelPrint" class="panel collapse">
    <div id="headingPrint" class="panel-heading">
        <div class="panel-title">
            <a class="panel-toggle collapsed" role="button" data-toggle="collapse" href="#collapsePrint" aria-expanded="false" aria-controls="collapsePrint"><span class="glyphicon glyphicon-print" aria-hidden="true"></span><span class="panel-label">Print</span></a>
            <a class="panel-close" role="button" data-toggle="collapse" data-target="#panelPrint"><span class="esri-icon esri-icon-close" aria-hidden="true"></span></a>
        </div>
    </div>
    <div id="collapsePrint" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingPrint">
        <div class="panel-body">
            <div class="form-group">
                <button type="button" class="btn btn-default">Print [Coming soon!]</button>
            </div>
        </div>
    </div>
</div>